<!DOCTYPE html>
<html>
<head>
    <title>WiFi Login</title>
</head>
<body>
    <h2>Select WiFi</h2>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>WiFi name:</label><br>
            <select name="ssid" required>
                {% for s in ssid_list %}
                    {% if saved_ssid == s %}
                        <option value="{{ s }}" selected>{{ s }}</option>
                    {% else %}
                        <option value="{{ s }}">{{ s }}</option>
                    {% endif %}
                {% endfor %}
            </select>

        <br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required>

        <br><br>
        <button type="submit">Connect</button>
    </form>
</body>
</html>
